::ng-deep body .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: goldenrod;
    }
    
    ::ng-deep .ui-datepicker .ui-datepicker-group {
    background-color: cadetblue;
    }